* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-color: #4527A0;
    --main-color-light: #512DA8;
    --main-color-dark: #311B92;
}

body {
    background: white;
    overflow-x: hidden;
}

#title-container {
    float: left;
    background: linear-gradient(to bottom, var(--main-color), var(--main-color-light));
    width: 40%;
    height: 100vh;
    color: white;
}

#title {
    width: 300px;
    font-size: 4em;
    position: relative;
    top: 150px;
    line-height: 1.4em;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

#description {
    position: relative;
    top: 200px;
    font-size: 1.3em;
    width: 400px;
    text-align: left;
    margin: auto;
}

#title-icon-container {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 450px;
}

    #title-icon-container img {
        width: 100%;
        height: 100%;
    }

#form-container {
    float: left;
    width: 60%;
    height: 100vh;
    background: white;
}

.form {
    position: relative;
    top: 0px;
    margin: auto;
    width: 400px;
    height: 500px;
    background: #ffffff;
    text-align: center;
    float: left;
}

.input-field {
    border: none;
    height: 35px;
    width: 200px;
    background: #eee;
    padding: 0 10px 0 10px;
    border-left: 5px solid var(--main-color);
    font-size: 1.05em;
}

select {
    border: none;
    background: #eee;
    width: 100px;
    height: 30px;
    font-size: .9em;
    padding-left: 5px;
}

#form-view {
    margin: auto;
    overflow: hidden;
    width: 400px;
    height: auto;
    position: relative;
    top: 50px;
}

#form-slider {
    width: 210%;
    height: auto;
    position: relative;
    left: 0px;
    transition: all 0.3s ease 0s;
}

.form-head {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--main-color);
}

    .form-head p {
        position: relative;
        top: 10px;
        font-size: 1.3em;
        color: var(--main-color);
    }

.form-body {
    height: auto;
}

#login-form {
    height: 400px;
}

#signup-form {
    height: 675px;
}

.form-button {
    border: none;
    width: 150px;
    height: 50px;
    background: var(--main-color);
    color: white;
    font-size: 1.2em;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease;
}

    .form-button:hover {
        background: white;
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }

.form-pointer {
    color: var(--main-color);
    text-align: center;
    cursor: pointer;
}

#footer {
    position: absolute;
    top: calc(100vh - 100px);
    width: 60%;
    height: 100px;
    background: #eee;
    text-align: center;
}

    #footer p {
        color: black;
        position: relative;
        top: 35px;
        font-size: 1rem;
    }

.banner {
    width: 100%;
    height: 50px;
    background: var(--main-color);
    color: white;
}

#welcome-container {
    position: absolute;
    width: 400px;
    height: 35.92%;
    top: 0px;
    left: 0px;
    background: var(--main-color);
    padding: 5px;
    z-index: -1;
}

    #welcome-container p, #welcome-container span {
        position: relative;
        color: white;
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
    }

    #welcome-container p {
        top: 150px;
        left: 10px;
    }

#welcome-extension {
    position: absolute;
    top: 50px;
    left: 410px;
    width: 0;
    height: 0;
    border-top: 15.7vh solid transparent;
    border-bottom: 15.7vh solid transparent;
    border-left: 60px solid var(--main-color);
}

.sign-off {
    float: right;
    position: relative;
    left: -75px;
    top: 10px;
    cursor: pointer;
}

#academic-info-container {
    position: relative;
    top: 85px;
    left: 40%;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.info-box {
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 1.1em;
}

.info-head {
    width: 100%;
    height: 50px;
    background: var(--main-color-light);
    color: white;
    box-sizing: border-box;
    padding: 10px;
}

.info-body {
    width: 240px;
    height: 30px;
    color: var(--main-color);
    padding: 10px 5px;
    background: #eee6;
}
/* Student Profile styles*/
.button {
    width: 150px;
    height: 50px;
    background: white;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    color: var(--main-color);
}

#grid {
    display: grid;
    height: calc(100vh - 50px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.grid-item {
    align-items: center;
}

#grid-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#grid-item-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#grid-item-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.grid-item:nth-child(1) {
    grid-column: 1 / span 3;
    text-align: center;
    background: white;
    z-index: -1;
}

#profile-photo-container {
    position: relative;
    top: 0px;
    width: 150px;
    height: 150px;
    background: #eee;
    border: 2px solid white;
    border-bottom: 2px solid var(--main-color-light);
}

#profile-photo-container img {
    width: 100%;
    height: 100%;
}

#menu {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}

#menu div {
    background: white;
    height: 200px;
    text-align: center;
    transition: all .3s 0s;
    cursor: pointer;
    border-bottom: 2px solid var(--main-color);
}

#menu div:hover {
    transform: scale(1.1);
}

#menu div p {
    position: relative;
    top: 75px;
    font-size: 1.3em;
    color: var(--main-color-light);
}

#course-options {
    position: relative;
    width: 300px;
    outline: none;
}

.course-tab {
    box-sizing: border-box;
    width: 300px;
    padding: 12px 5px 5px 5px;
    text-align: center;
    height: 50px;
    background: var(--main-color-light);
    color: white;
}

#add-course-button {
    position: relative;
    width: 40px;
    height: 40px;
    background: white;
    color: var(--main-color);
    text-align: center;
    cursor: pointer;
    font-size: 1.8em;
    box-sizing: border-box;
    padding-top: 3px;
    transition: all .3s;
}

    #add-course-button:hover {
        background: var(--main-color);
        color: white;
    }

.bubble {
    width: 100px;
    height: 100px;
    background: var(--main-color-dark);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    padding-top: 37px;
    transition: all .3s;
}

    .bubble:hover {
        transform: scale(1.1);
        background: var(--main-color-light);
    }
/*Edit Profile styles*/
#edit-form-container {
    position: relative;
    top: 100px;
    width: 500px;
    height: 500px;
    margin: auto;
}

#edit-form-head {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, var(--main-color), var(--main-color-light));
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

    #edit-form-head p {
        position: relative;
        top: 15px;
    }

#edit-form-body {
    width: 100%;
    height: 250px;
    text-align: center;
}

    #edit-form-body .input-field {
        width: 250px;
    }

/*Employer Profile Styles*/
#grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: calc(100vh - 50px);
}

    #grid-2 div {
    }

#grid-2-container-1 {
    background: var(--main-color-light);
}
